<%= form_for(@pet_request) do |f| %>
  <% if @pet_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet_request.errors.count, "error") %> prohibited this dream pet from being saved:</h2>

      <ul>
      <% @pet_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field dream-pet">
    <%= f.label :species_id, 'Dream Pet' %><br>
    <%= f.collection_select :conversion_state_id, @conversion_states, :id, :name %>
    <%= f.collection_select :color_id, @colors, :id, :name %>
    <%= f.collection_select :species_id, @species, :id, :name %>
    <ul class="rules">
      <li>
        Only list pets which you are intending to keep as permanent pets, and not change.
        <ul>
          <li>Do not list pets you intend to repaint, morph, zap or trade.</li>
          <li>Moving pets to your side accounts is fine.</li>
        </ul>
      </li>
      <li>Have a Neopets account at least 4 months old that you intend to adopt the pet on.</li>
      <li>You are welcome to list UCs for fun, but, to my knowledge, no one is giving away UCs. The same is generally true for ice Boris.</li>
      <li>You will be contacted if one of your dream pets is found or zapped through Reddit. Please be polite, and respond in a reasonable amount of time.</li>
      <li>You may list up to 10 dream pets.</li>
      <li>Don't request a pet just for it's clothing or for trading fodder.</li>
    </ul>
  </div>
  <div class="field">
    <%= f.label :minimum_name_quality_id %><br>
    <%= f.collection_select :minimum_name_quality_id, @name_qualities, :id, method(:name_quality_option_text) %>
    <ul class="rules">
      <li>
        You will be mailed about pets found/zapped of at least the quality you selected.
        <ul>
          <li>For example, if you select VWN, you will only be mailed about VWN pets.</li>
          <li>Or, if you select DN, you will be mailed about VWN, WN, WN(uncapped), and DN pets.</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="field">
    <%= f.label :info %><br>
    <%= f.text_area :info %>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :requires_clothes %>
      Requires clothes?
    </label>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
