<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>/r/neopets Dream Pets</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if user_signed_in? %>
    <%= tag 'meta', name: 'current-user-id', content: current_user.id, 'data-turbolinks-track' => true %>
    <%= tag 'meta', name: 'current-user-admin', content: current_user.admin, 'data-turbolinks-track' => true %>
  <% end %>
</head>
<body>

<div class="container">
  <nav>
    <div>
      <header>
        <%= link_to '/r/neopets Dream Pets', root_path %>
      </header>
        <% if user_signed_in? %>
          <ul>
            <li><%= link_to 'Sign out', sign_out_path %></li>
          </ul>
          <p>
            Welcome, <%= link_to_user current_user %>!
            <% if current_user.admin? %>
              As an admin, you can edit or delete <em>any</em> pet request.
            <% end %>
          </p>
        <% else %>
          <ul>
          <% if Rails.env.development? %>
            <li><%= link_to 'Sign in as a developer', '/auth/developer' %></li>
          <% end %>
            <li><%= link_to 'Sign in with Reddit', '/auth/reddit' %></li>
          </ul>
        <% end %>
    </div>
  </nav>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash-#{key}", role: 'alert' %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
