<!DOCTYPE html>
<html>
<head>
  <title>RNeopetsDreamPets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <% if auth? %>
    <% if current_auth_provider.reddit? %>
      Welcome, <%= link_to current_auth_name, reddit_user_path(current_auth_name) %>!
    <% else %>
      Welcome, <%= current_auth_name %>!
    <% end %>
    <%= link_to 'Sign out', sign_out_path %>
  <% else %>
    <% if Rails.env.development? %>
      <%= link_to 'Sign in as a developer', '/auth/developer' %>
    <% end %>
    <%= link_to 'Sign in with Reddit', '/auth/reddit' %>
  <% end %>
</header>

<%= yield %>

</body>
</html>
